.Testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    background-color: #212ea0;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.back-btn{
    right: auto;
    left: 5;
}